@use "./variables" as *;
@use "./mixins" as *;

.comments {
  padding: 1.5rem 1rem 0 1rem;
  margin-bottom: 0;

  @include tablet-up {
    padding: 3rem 2rem 0rem 2rem;
  }

  @include desktop-up {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0 1rem 0;
  }

  &__title {
    @include component-space;

    @include tablet-up {
      font-size: 2rem;
    }
  }

  &__form {
    display: flex;
    border-bottom: 3px solid $mercury;

    @include tablet-up {
      margin: 0 2rem;
    }

    @include desktop-up {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-position: right;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__group {
    @include component-space;
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: $alabaster;
    border-radius: 4px;
    border: 2px solid $mercury;
    padding: 0.75rem;
    color: $bandsite-black;
    font-family: "Avenir Next LT";

    &::placeholder {
      color: $bandsite-black;
      font-size: 1rem;
    }

    &--area {
      height: 7rem;
    }
  }

  &__label {
    margin-bottom: 0.25rem;
    font-family: "Avenir Next LT";
    font-size: 0.75rem;
    color: $silver;
  }

  &__btn {
    @include component-space;
    font-family: "Avenir Next LT";
    font-size: 1rem;
    color: $white;
    border: none;
    border-radius: 4px;
    background-color: $bandsite-black;
    padding: 0.75rem;

    &:hover {
      background-color: $brandsite-darkblack;
    }

    @include tablet-up {
      margin-left: 0;
      margin-right: 0;
      width: 10rem;
      align-self: flex-end;
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  @include tablet-up {
    margin: 0 2rem;
  }

  @include desktop-up {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    display: flex;
    margin: 1rem 0;
    border-bottom: 3px solid $mercury;
  }

  &__image {
    background-color: $mercury;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__body {
    @include component-space;
    width: 100%;
  }

  &__header {
    @include component-space;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-family: "Avenir Next LT";
    font-weight: 700;
  }

  &__date {
    color: $silver;
  }
}
