@use "./variables" as *;

.header {
  background-color: $bandsite-black;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    max-width: 7.5rem;
    margin-top: 1.5rem;
  }
}
