@use "./variables" as *;
@use "./mixins" as *;

.hero {
  background-image: url(../../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 2rem 0;

  @include tablet-up {
    padding: 4rem 0;
  }

  @include desktop-up {
    padding: 10rem 0;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $bandsite-black;
    opacity: 50%;
  }

  &__title,
  &__sub-title {
    position: relative;
    max-width: $max-width;
    margin: 1rem;
    color: $white;

    @include tablet-up {
      margin: 2rem;
      font-size: 1.5rem;
    }

    @include desktop-up {
      width: 100%;
      margin: 2rem auto;
    }
  }

  &__title {
    @include tablet-up {
      font-size: 3.75rem;
      line-height: 4.5rem;
      margin-top: 0;
      width: 75%;
    }

    @include desktop-up {
      width: 50%;
      margin: 0;
    }
  }

  &__music {
    position: relative;
    margin: 1rem;
    width: 90%;

    @include tablet-up {
      margin: 2rem;
      font-size: 1.5rem;
      width: 30rem;
    }

    @include desktop-up {
      margin: 0;
    }
  }

  &__container {
    @include desktop-up {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
