@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-body;
  line-height: 1.5rem;
}

h1,
h2 {
  font-family: $font-bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-family: $font-body;
  line-height: 1.5rem;
}
