@use "./fonts" as *;

// Primary brand colours
$bandsite-black: #323232;
$silver: #afafaf;
$white: #fff;

// Secondary brand colours
$brandsite-darkblack: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Custom fonts
$font-body: "Avenir Next LT Pro";
$font-bold: "Avenir Next LT Pro-Bold";
$font-demi: "Avenir Next LT Pro-Demi";

// Maximum width of content
$max-width: 1020px;

// Break points
$tablet-width: 768px;
$desktop-width: 1280px;
