@font-face {
  font-family: Avenir Next LT Pro;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format(opentype), url(../../assets/fonts/AvenirNextLTPro.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Avenir Next LT Pro-Demi;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format(opentype), url(../../assets/fonts/AvenirNextLTProDemi.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Avenir Next LT Pro-Bold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format(opentype), url(../../assets/fonts/AvenirNextLTProBold.ttf) format(truetype);
  font-weight: 700;
  font-style: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir Next LT Pro";
  line-height: 1.5rem;
}

h1,
h2 {
  font-family: "Avenir Next LT Pro-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-family: "Avenir Next LT Pro-Demi";
  line-height: 1.5rem;
}

.header {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__container {
  width: 100%;
  max-width: 63.75rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 48rem) {
  .header__container {
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
  }
}
.header__logo {
  max-width: 7.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .header__logo {
    margin-top: 0;
    margin-right: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 48rem) {
  .nav {
    justify-content: flex-start;
  }
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  width: 50%;
  text-align: center;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .nav__link {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.5rem 0;
    margin: 0 2rem;
  }
}
.nav__link--active, .nav__link:hover {
  border-bottom: 4px solid #fff;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 80rem) {
  .nav__link--active, .nav__link:hover {
    border-bottom-width: 3px;
  }
}

.hero {
  background-image: url(../../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 15rem;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
@media (min-width: 48rem) {
  .hero {
    height: 25rem;
  }
}
@media (min-width: 80rem) {
  .hero {
    height: 40rem;
  }
}
.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 50%;
}
.hero__band-name {
  position: relative;
  width: 100%;
  max-width: 63.75rem;
  margin: auto;
  padding: 1rem;
  color: #fff;
}
@media (min-width: 48rem) {
  .hero__band-name {
    padding: 2rem;
    font-size: 3.75rem;
  }
}

.about {
  max-width: 63.75rem;
  margin: 1.5rem 1rem 0 1rem;
}
@media (min-width: 48rem) {
  .about {
    margin: 3rem 2rem 0 2rem;
  }
}
@media (min-width: 80rem) {
  .about {
    margin: 3rem auto 0 auto;
  }
}
.about * {
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about * {
    margin-bottom: 2rem;
  }
}
@media (min-width: 48rem) {
  .about__title {
    font-size: 2rem;
  }
}
@media (min-width: 48rem) {
  .about__container {
    margin: 0 2.5rem;
  }
}
@media (min-width: 80rem) {
  .about__container {
    margin: 0 4rem;
  }
}
.about__image {
  width: 100%;
}
.about__quote, .about__quote-author {
  font-family: "Avenir Next LT Pro-Bold";
}
.about__quote {
  margin-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 80rem) {
  .about__quote {
    width: 47rem;
  }
}
.about__name {
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .about__name {
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__content-container {
  margin: 0;
}
@media (min-width: 48rem) {
  .about__content-container {
    display: flex;
    flex-direction: row;
  }
}
.about__content-left {
  margin-right: 2rem;
}

.gallery {
  background-color: #fafafa;
}
.gallery * {
  margin-bottom: 1rem;
}
.gallery__container {
  max-width: 63.75rem;
  padding: 1.5rem 1rem 0 1rem;
  margin-bottom: 0;
}
.gallery__image {
  width: 100%;
}
.gallery__image-list {
  margin: 0;
}

.footer {
  background-color: #323232;
  color: #fff;
  max-width: 63.75rem;
  padding: 1.5rem 1rem 0.5rem 1rem;
}
.footer * {
  margin-bottom: 1rem;
}
.footer__social-icon {
  margin-right: 1.5rem;
  margin-bottom: 0;
  height: 1.5rem;
}
.footer__card {
  margin-top: 1.5rem;
}
.footer__end {
  margin-top: 3rem;
}/*# sourceMappingURL=bio.css.map */